@import url("https://unpkg.com/ionicons@4.2.4/dist/css/ionicons.min.css");

:root{
	--base: #76323F;
	--basel: #C9828F;
	--based: #56242C;
}
.navbar{
	padding: 1px 20px;
}
body{
	background: #c1c2c3;
	padding:0;
	margin:0;
}
.base{
	border: 1px solid var(--base);
	color: var(--base);
}
.base:hover{
	background: var(--base);
	border: 1px solid var(--base);
}
.contain{
	background: #f1f2f3;
	margin-top: 1rem;
	border-radius: 2px;
}
.bs-wizard {margin-top: 1rem; width: 100%;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; width:25%; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #000; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step .textactive {color: var(--base); font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: var(--basel); top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: var(--base); border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: var(--basel);}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #e1e1e1;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {background: #ccc;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/

label{
	color: var(--base);
	font-size: 15px;
	margin-bottom: 5px;
	font-weight: 500;
}
.padd{
	padding: 20px 20px !important;
	margin-top: 2rem !important;
}
.btnext,.btnck{
	color: #fff;
	background: var(--base);
	outline:none;
	border:none;
	padding: 5px 20px;
	cursor: pointer;
	font-size: 13pt;
	font-weight:400;
}
.btnext::after{
	content:">>";
	margin-left: 10px;
}
.btnext,.btnck:hover{
	background: var(--based);
}
.btnck{
	emargin-top: 1rem;
}
.none{
	display:none;
}
.table-tamugo tr{
	border:0;
}
.table-tamugo td{
	background: #eee;
	color: #fff;
	border: 2px solid var(--base);
	padding: 20px 20px;
	text-align: center;
	cursor:pointer;
}
.table-tamugo .use{
	background: var(--base);
	color: #fff;
	border: 2px solid var(--base);
	padding: 20px 20px;
	text-align: center;
	cursor:pointer;
}
.table-tamugo .use:hover{
	background: var(--base);
	border: 2px solid var(--base);
}
.table-tamugo td > input[type="radio"]{
	background: #000;
	cursor:pointer;
	padding: 1rem 1rem;
	display:none;
}
.table-tamugo .choir{
	background: var(--base);
	epadding: 20px 10px;
}
.center{
	margin-left: auto;
	margin-right: auto;
}
.w-80{
	width: 80%;
}
.hidden{
	display: none;
}
.event-info img{
	display:block;
	margin-left: auto;
	margin-right: auto;
}
.event-info ion-icon{
	font-size: 22pt;
	color: var(--base);
}
.row-event{
	margin-top: 2rem;
}

.theatre {
  display: flex;
  position: relative;
  top: 80%;
  left: 60%;
  padding-bottom: 10rem;
  transform: translate(-50%, -50%);
}

.cinema-seats {
  display: flex;
}
.cinema-seats .seat {
  cursor: pointer;
}
.cinema-seats .seat:hover:before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
}
.cinema-seats .seat.active:before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 7px;
}

.left .cinema-row {
  transform: skew(-15deg);
  margin: 0 6px;
}
.left .seat {
  width: 40px;
  height: 50px;
  border-radius: 7px;
  background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041, #F3686A);
  margin-bottom: 10px;
  transform: skew(20deg);
  margin-top: -32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.left .row-2 {
  transform: skew(-13deg);
}
.left .row-2 .seat {
  transform: skew(18deg);
}
.left .row-3 {
  transform: skew(-12deg);
}
.left .row-3 .seat {
  transform: skew(16deg);
}
.left .row-4 {
  transform: skew(-11deg);
}
.left .row-4 .seat {
  transform: skew(15deg);
}
.left .row-5 {
  transform: skew(-10deg);
}
.left .row-5 .seat {
  transform: skew(12deg);
}
.left .row-6 {
  transform: skew(-9deg);
}
.left .row-6 .seat {
  transform: skew(10deg);
}
.left .row-7 {
  transform: skew(-7deg);
}
.left .row-7 .seat {
  transform: skew(8deg);
}

.right {
  margin-left: 70px;
}
.right .cinema-row {
  transform: skew(7deg);
  margin: 0 6px;
}
.right .seat {
  width: 40px;
  height: 50px;
  border-radius: 7px;
  background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041, #F3686A);
  margin-bottom: 10px;
  transform: skew(-8deg);
  margin-top: -32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.right .row-2 {
  transform: skew(9deg);
}
.right .row-2 .seat {
  transform: skew(-10deg);
}
.right .row-3 {
  transform: skew(10deg);
}
.right .row-3 .seat {
  transform: skew(-12deg);
}
.right .row-4 {
  transform: skew(11deg);
}
.right .row-4 .seat {
  transform: skew(-15deg);
}
.right .row-5 {
  transform: skew(12deg);
}
.right .row-5 .seat {
  transform: skew(-16deg);
}
.right .row-6 {
  transform: skew(13deg);
}
.right .row-6 .seat {
  transform: skew(-18deg);
}
.right .row-7 {
  transform: skew(15deg);
}
.right .row-7 .seat {
  transform: skew(-20deg);
}
.col-lg-12 .code{
	color:#fff;
	background: var(--base);
	padding: 1rem 1rem;
}
.col-lg-12 .code > h5{
	font-size: 20pt;
	eborder-bottom: 1px solid #fff;
	letter-spacing: 10px;
}
.fa-ev{
	color: var(--base);
	efont-size: 30px !important;
	vertical-align: middle;
	padding: 5px 5px;
	emargin-right: 5px;
}
